html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Raleway', sans-serif;
    overflow-x: hidden;
}

a {
    text-decoration: none;
    color: white;
}

.decor-border {
    heighT: 5vh;
    width: .5vw;
    border-right: 1.3px solid #0f0e0f;
    margin: 0 auto;
}

.bar-code {
    font-family: 'Libre Barcode 39', cursive;
    color: #0f0e0f;
}

.hidden {
    display: none;
}

strong {
    font-weight: 500;
}

.footer {
    display: flex;
    justify-content: center;
    width: 100vw;
    height: 45vh;
    background-color: #0f0e0f;
    position: relative;
    margin-top: 5vh;
    bottom: 0%;
}

.nav-bar {
    width: 100%;
    height: 11vh;
    background-color: #0f0e0f;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    position: fixed;
    top: 0;
}

.nav-logo {
    height: 70%;
    margin-top: 1.5vh;
    width: 6vh;
}

.nav-logo img {
    width: 100%;
}

.left-arrow {
    height: 100%;
    width: 2vh;
}

.left-arrow img {
    margin-top: 3.7vh;
    width: 100%;
}

.right-arrow {
    height: 100%;
    width: 2vh;
}

.right-arrow img {
    width: 100%;
    margin-top: 3.7vh;
}

.copyright {
    color: white;
    position: absolute;
    width: 100%;
    bottom: 7%;
    text-align: center;
}

.contact-div {
    margin: 0 auto;
    text-align: center;
    color: white;
    width: 30%;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.contact-flex {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.contact-div h1 {
    text-transform: uppercase;
    font-size: 27px;
    font-weight: 500;
}


.contact-indv img {
    height: 3.5vw;
}


.main-container {
    width: 100vw;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    overflow-x:hidden;
}

.title {
    text-align: center;
    font-size: 35px;
    margin-top: 5vh;
    padding: 2%;
}

.subtitle {
    font-weight: bold;
    font-size: 25px;
    margin-bottom: 2%;
    line-height: 25px; 
    color: #0f0e0f;
}

.copy {
    font-size: 19px;
    margin-bottom: 5%;
    margin-top: 2%;
    line-height: 25px;
    font-family: 'Montserrat', sans-serif;
    color: #0f0e0f;
}


/*hero text here*/

.hero {
    /*give background images according to media query sizes in the future*/
    height: 100vh;
    width: 100vw;
    position: relative;
    background-image: url("../images/bg-image.jpg"); /* The image used */
    background-color: #0f0e0f; /* You must set a specified height */
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; 
    z-index: 1;
}

#force-graph {
    width: 100vw;
    height: 105vh;
    background-color: #ffffff;  
    position: relative; 
    margin-bottom: 15vh;
}


#tech-i-use {
    font-size: 25px;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    text-align: center;
    padding: 2%;
    color: rgb(255, 40, 57);
}



.hero-text-con {
    text-align: center;
    width: 100%;
    height: 88vh;
    padding-top: 6vh;
    padding-bottom: 6vh;
    justify-content: space-evenly;
    background-color: rgba(0, 0, 0, .92);
    color: white;
    font-size: 35px;
    font-family: 'Raleway', sans-serif;
    display: flex;
    flex-direction: column;
}

.txt-rotate {
    color: rgb(255, 40, 57);
}

.hero-title {
    padding: 2%;
    padding-top: 1vh;
    font-weight: 300;
}

.hero-name {
    padding: 2%;
    padding-top: 2%;
    font-weight: 300;
}

.logo {
    width: 7vw;
    margin: 0 auto;
}

#hero-button {
    text-align: left;
    font-size: 13px;
    font-weight: bold;
    color: white;
    padding: 15px;
    width: 3vw;
    margin: 0 auto;
    margin-top: 10vh;
    border-left: 2px solid rgb(255, 40, 57);
    font-weight: 600;
    transition-duration: .3s;
}

#hero-button:hover {
    transition-duration: .3s;
    border-left: 14px solid rgb(255, 40, 57);
}

.txt-rotate {
    font-weight: 600;
}


.welcome {
    display: flex;
    flex-direction: column;
    height: 70vh;
    background-color: green;
}

.projects-container {
    width: 100vw;
    padding-bottom: 10vh;
    margin-top: 3%;
}

.projects-container h1 {
    text-transform: uppercase;
}



.projects-container h1 {
    text-align: center;
    margin-top: 2%;
    margin-bottom: 2%;
    font-weight: bold;
    font-size: 25px;
    color: rgb(255, 40, 57);
}

.projects {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.project-indv {
    width: 40vw;
    height: 40vw;
    margin: 0 auto;
    margin-top: 50px;
    border-radius: 3%;
    position: relative;
    -webkit-box-shadow: 9px 9px 42px -8px rgba(0,0,0,0.35);
    -moz-box-shadow: 9px 9px 42px -8px rgba(0,0,0,0.35);
    box-shadow: 9px 9px 42px -8px rgba(0,0,0,0.35);
    transition-duration: 1.5s;
    opacity: 0;
}

.project-indv.scroll-anim {
    transition-duration: 1.5s;
    opacity: 1;
}

.project-indv h2 {
    font-size: 38px;
    color: white;
    font-weight: 500;
    bottom: 10%;
    left: 10%;
    position: absolute;

}

.project-overlay {
    width: 40vw;
    height: 40vw;
    border-radius: 3%;
    background: rgba(0, 0, 0, 0.65);
    transition-duration: .8s;   
}
    
    
.project-overlay:hover {
    opacity: 0;
}


#project1 {
    background-image: url("../images/bacteriophage-ipad.jpg");
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover;
}


/*project 2*/

#project2 {
    background-image: url("../images/wind-turbine-ipad.jpg");
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover;
}


/*project 3*/


#project3 {
    background-image: url("../images/gta-data-image.jpg");
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover;
}



/*project 4*/

#project4 {
    background-image: url("../images/iecs-cable-concrete.jpg");
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover;
}

/*project 5*/

#project5 {
    background-image: url("../images/bug-game.jpg");
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover;
}

/*project 6*/

#project6 {
    background-image: url("../images/featherfields.png");
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover;
}

/*project page*/

.proj-image img {
    width: 30vw;
    padding-left: 10%;
    padding-bottom: 10%;
}

.proj-details {
    padding-top: 20vh;
    display: flex;
    flex-direction: row;
}

.proj-details-con-1 {
    display: flex;
    flex-direction: column;
    width: 35%;
    padding-left: 5%;
    padding-right: 5%;
}

.proj-details-con-2 {
    display: flex;
    flex-direction: column;
    width: 20%;
}

.proj-tech {
    display: grid;
    grid-template-columns: 1fr 1fr;
    line-height: 20px;
}

.proj-tech p {
    padding-top: 25%;
    padding-right: 10%;
}


.proj-github-button {
    font-weight: bold;
    text-align: center;
    background-color: rgb(255, 40, 57);
    color: white;
    width: 150px;
    padding: 10px;
    margin-top: 3vh;
}

.proj-video {
    width: 100vw;
    heighT: 100vh;
}

.proj-video iframe {
    width: 100%;
    height: 100%;
}

.proj-close {
    width: 100vw;
    height: 35vh;
    text-align: center;
    margin-top: 5vh;
    
}

.proj-close img {
    width: 10vh;
    padding: 3.5vh;

}

.proj-close-text {
    margin-top: 2vh;
}


@media only screen and (max-width: 1200px) {

    .hero-text-con {
        font-size: 40px;
    }

    .logo {
        width: 10vw;
    }
    

    #hero-button {
        margin: 75px auto;
        width: 3vw;
    }

    #tech-i-use {
        font-size: 25px;
        color: rgb(255, 40, 57);
    }

    .projects {
        display: flex;
        flex-direction: column;
    }
    
    .projects-container h1 {
        margin-bottom: 2%;
        font-size: 30px;
    }

    .proj-details {
       padding-bottom: 5vh;
    }

    .project-indv {
        width: 80vw;
        height: 80vw;
    }
    
    .project-overlay {
        width: 80vw;
        height: 80vw;
        background: rgba(0, 0, 0, 0.5);
    }

    .proj-video {
        height: 75vh;
    }
       
    .proj-details-con-1 {   
        width: 30%;
    }
}

@media only screen and (max-height: 850px) {

}

@media only screen and (max-width: 850px) {

    .hero-text-con {
        height: 94vh;
        padding-top: 3vh;
        padding-bottom: 3vh; 
    }

    #hero-button {
        width: 3vw;
        margin-top: 13vh;
    }

    .logo {
        width: 14vw;
        margin-top: 10vh;
    }


    #tech-i-use {
        font-size: 22px;
    }

    .projects-container {
        margin-top: 5vh;
    }

    .projects-container h1 {
        margin-bottom: 4%;
    }

    .project-indv h2 {
        font-size: 35px;
    }
           
    .proj-details {
        width: 100vw;
        padding-top: 20vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .proj-image img {
        width: 70vw;
        padding-left: 15vw;
        padding-right: 15vw;
        padding-bottom: 10%;
    }
    
    .proj-details-con-1 {
        display: flex;
        flex-direction: column;
        width: 70vw;
        padding-left: 15vw;
        padding-right: 15vw;
    }
    
    .proj-details-con-2 {
        display: flex;
        flex-direction: column;
        padding-top: 10vh;
        width: 70vw;
        padding-left: 15vw;
        padding-right: 15vw;
    }

    .proj-tech p {
        padding-top: 5vh;
        padding-right: 10vw;
    }
    
    .proj-video {
        height: 60vh;
    }

    .contact-div {
        width: 80%;
    }

    .contact-indv img {
      height: 8vw;
    }

    .copyright {
        font-size: 12px;
    }

}

@media only screen and (max-width: 450px) { 

    .hero-text-con {
        font-size: 30px;
        height: 100vh;
        padding: 0%;
    }

    .logo {
        width: 22vw; 
    }

    .projects-container h1 {
       font-size: 25px;
    }

    #hero-button {
        width: 3vw;
    }

    #tech-i-use {
        font-size: 18px;
    }

    .project-indv h2 {
        font-size: 25px;
    }
       
}
