html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Raleway', sans-serif;
    overflow-x: hidden;
}

a {
    text-decoration: none;
    color: white;
}

.bar-code {
    font-family: 'Libre Barcode 39', cursive;
    color: white;
}

.hidden {
    display: none;
}

strong {
    font-weight: 500;
}

.footer {
    display: flex;
    justify-content: center;
    width: 100vw;
    height: 45vh;
    background-color: #19181a;
    position: relative;
}

.nav-bar {
    width: 100vw;
    heighT: 12vh;
    background-color: #19181a;
    display: flex;
    justify-content: center;
    position: fixed;
}

.nav-logo {
    height: 80%;
}

.nav-logo img {
    height: 100%;
    padding: 15%;
}

.copyright {
    color: white;
    position: absolute;
    width: 100%;
    bottom: 7%;
    text-align: center;
}

.contact-div {
    margin: 0 auto;
    text-align: center;
    color: white;
    width: 50%;
    height: 70%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.contact-flex {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.contact-div h1 {
    font-size: 30px;
    font-weight: 500;
}


.contact-indv img {
    height: 4vw;
    padding: 10%;
}

.contact-indv p {
    padding: 4%;
}

.main-container {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}

.title {
    text-align: center;
    font-size: 35px;
    margin-top: 5vh;
    padding: 2%;
}

.subtitle {
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 2%;
    line-height: 25px; 
    color: #19181a;
}

.copy {
    font-size: 17px;
    margin-bottom: 2%;
    line-height: 24px;
    font-family: 'Montserrat', sans-serif;
    color: #19181a;
}


/*hero text here*/

.hero {
    /*give background images according to media query sizes in the future*/
    height: 100vh;
    display: flex;
    flex-direction: row;
    position: relative;
    background-color: #19181a;
    z-index: 1;
}

#force-graph {
    width: 65vw;
    height: 100vh;
    background-color: #ffffff;  
    position: relative; 
}

#tech-i-use {
    font-size: 17px;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    position: absolute;
    bottom: 5%;
    right: 5%;
    color: rgb(255, 40, 57);
}

.hero-video video {
    height: 100%;
    width: 100%;
    position: absolute;
}

.hero-text-con {
    width: 35vw;
    padding: 6vw;
    padding-top: 10vh;
    color: white;
    font-size: 43px;
    font-family: 'Raleway', sans-serif; 
    position: relative;
    
}



.txt-rotate {
    color: rgb(255, 40, 57);
}

.hero-title {
    padding-top: 4%;
    font-weight: 300;
}

.hero-name {
    padding-top: 4%;
    font-weight: 300;
}

.logo {
    width: 20%;
    position: sticky;
}

#hero-button {
    text-align: left;
    font-size: 18px;
    font-weight: bold;
    color: white;
    width: 5vw;
    margin-top: 15vh;
    background-color: rgb(255, 40, 57);
    padding: 4%;
    font-weight: 600;
}

#hero-button:hover {
    transform: scale(1.1);
}



.txt-rotate {
    font-weight: 600;
}


.welcome {
    display: flex;
    flex-direction: column;
    height: 70vh;
    background-color: green;
}

.projects-container {
    width: 100vw;
    padding-bottom: 15vh;
}

.projects-container .bar-code {
    font-size: 50px;
    text-align: center;
}

.projects-container h1 {
    text-align: center;
    margin-top: 5%;
    margin-bottom: 1%;
    font-weight: 600;
    font-size: 27px;
    color: #19181a;
}

.projects {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.project-indv {
    width: 40vw;
    height: 40vw;
    margin: 0 auto;
    margin-top: 50px;
    border-radius: 3%;
    position: relative;
    -webkit-box-shadow: 9px 9px 42px -8px rgba(0,0,0,0.35);
    -moz-box-shadow: 9px 9px 42px -8px rgba(0,0,0,0.35);
    box-shadow: 9px 9px 42px -8px rgba(0,0,0,0.35);
    transition-duration: 1.5s;
    opacity: 0;
}

.project-indv.scroll-anim {
    transition-duration: 1.5s;
    opacity: 1;
}

.project-indv h2 {
    font-size: 45px;
    color: white;
    font-weight: 500;
    bottom: 10%;
    left: 10%;
    position: absolute;

}

.project-overlay {
    width: 40vw;
    height: 40vw;
    border-radius: 3%;
    background: rgba(0, 0, 0, 0.8);
    transition-duration: .8s;   
}
    
    
.project-overlay:hover {
    opacity: 0;
}


#project1 {
    background-image: url("../images/bacteriophage-ipad.png");
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover;
}


/*project 2*/

#project2 {
    background-image: url("../images/wind-turbine-ipad.png");
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover;
}


/*project 3*/


#project3 {
    background-image: url("../images/gta-data-image.png");
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover;
}



/*project 4*/

#project4 {
    background-image: url("../images/iecs-cable-concrete.png");
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover;
}


/*project page*/

.proj-image img {
    width: 30vw;
    padding-left: 10%;
    padding-bottom: 10%;
}

.proj-details {
    padding-top: 22vh;
    display: flex;
    flex-direction: row;
}

.proj-details-con-1 {
    display: flex;
    flex-direction: column;
    width: 35%;
    padding-left: 5%;
    padding-right: 5%;
}

.proj-details-con-2 {
    display: flex;
    flex-direction: column;
    width: 20%;
}

.proj-tech {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.proj-tech p {
    padding-top: 25%;
    padding-right: 10%;
}


.proj-github-button {
    font-weighT: bold;
    text-align: center;
    background-color: rgb(255, 40, 57);
    color: white;
    width: 150px;
    padding: 10px;
    margin-top: 15%;
}

.proj-video {
    width: 100vw;
    heighT: 100vh;
}

.proj-video iframe {
    width: 100%;
    height: 100%;
}

.proj-close {
    width: 100vw;
    heighT: 40vh;
    text-align: center;
}

.proj-close-text {
    margin-top: 7vh;
}

@media only screen and (max-width: 1200px) {
    .hero {
        height: 200vh;
        width: 100vw;
        display: flex;
        flex-direction: column;
    }

    #force-graph {
        width: 100vw;
        height: 100vh;
    }

    .hero-text-con {
        text-align: center;
        margin: 0 auto;
        height: 100vh;
        width: 50%;
        margin: 0 auto;
    }

    .logo {
        width: 30%;
        margin: 40px auto;
    }

    #hero-button {
        margin: 75px auto;
        width: 8vw;
    }

    #tech-i-use {
        
        font-size: 25px;
        position: absolute;
        text-align: center;
        top: 5%;
        left: 5%;
        color: rgb(255, 40, 57);
    }

    .projects {
        display: flex;
        flex-direction: column;
    }

    
    .projects-container h1 {
        margin-bottom: 2%;
        font-size: 30px;
    }

    .project-indv {
        width: 80vw;
        height: 80vw;
    }
    
    .project-overlay {
        width: 80vw;
        height: 80vw;
        background: rgba(0, 0, 0, 0.5);
    }

       
    .proj-details-con-1 {   
        width: 30%;
    }


}

@media only screen and (max-width: 850px) {

    .hero {
        height: 200vh;
        width: 100vw;
        display: flex;
        flex-direction: column;
    }

    #force-graph {
        width: 100vw;
        height: 110vh;
    }


    .hero-text-con {
        width: 80%;
        padding: 5vw;
        padding-top: 4vh;
        font-size: 35px;
    }

    #hero-button {
        width: 80px;
        margin-top: 18vh;
    }

    #tech-i-use {
        font-size: 22px;
    }

    .projects-container {
        margin-top: 5vh;
    }

    .projects-container h1 {
        margin-bottom: 4%;
    }

    .project-indv h2 {
        font-size: 40px;
    }
           
    .proj-details {
        width: 100vw;
        padding-top: 20vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .proj-image img {
        width: 70vw;
        padding-left: 15vw;
        padding-right: 15vw;
        padding-bottom: 10%;
    }
    
    .proj-details-con-1 {
        display: flex;
        flex-direction: column;
        width: 70vw;
        padding-left: 15vw;
        padding-right: 15vw;
    }
    
    .proj-details-con-2 {
        display: flex;
        flex-direction: column;
        padding-top: 10vh;
        width: 70vw;
        padding-left: 15vw;
        padding-right: 15vw;
    }

    .proj-tech p {
        padding-top: 5vh;
        padding-right: 10vw;
    }
    
    .proj-video {
        height: 40vh;
    }


    .contact-div {
        width: 80%;
    }

    .contact-indv img {
      height: 8vw;
    }
    

}

@media only screen and (max-width: 450px) { 
    
    .hero-text-con {
        font-size: 30px;
    }


    #hero-button {
        width: 80px;
        margin-top: 15vh;
    }


    #tech-i-use {
        font-size: 18px;
    }

    .project-indv h2 {
        font-size: 28.5px;
    }
    
       
}
