body {

}

.hidden {
    display: none;
}



.main-container {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    overflow: hidden;
}

/*hero text here*/

.hero {
    /*give background images according to media query sizes in the future*/
    height: 100vh;
    display: flex;
    flex-direction: row;
    position: relative;
}

#force-graph {
    width: 60vw;
    height: 100vh;
    padding-right: 5vw;
}

.hero-video video {
    height: 100%;
    width: 100%;
    position: absolute;
}

.hero-text-con {
    width: 45vw;
    z-index: 1;
    padding: 6vw;
    padding-top: 8vh;
    color: #2c1f19;
    background-color: #E3E2DF;
    font-size: 45px;
    font-family: 'Montserrat', sans-serif;
    position: relative;
    
}

.hero-logo {
    width: 30%;
    padding-bottom: 8%;
}

.txt-rotate {
    color: #9a1750;
}

.hero-title {
    padding-top: 4%;
    font-weight: 400;
    border-top: solid 1.3px #9a1750;
}

#hero-button {
    text-align: center;
    font-size: 18px;
    border: solid 1px #9a1750;
    width: 7vw;
    margin-top: 25vh;
    padding: 4%;
    font-weight: 600;
}

#hero-button:hover {
    transform: scale(1.1);
}



.txt-rotate {
    font-weight: 600;
}


.welcome {
    display: flex;
    flex-direction: column;
    height: 70vh;
    background-color: green;
}

.projects-container {
    width: 100vw;
}

.projects {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.project-indv {
    background-color: red;
    width: 40vw;
    height: 40vw;
    margin: 0 auto;
    margin-top: 50px;
}



@media only screen and (max-width: 1100px) {
    .hero {
        height: 200vh;
        width: 100vw;
        display: flex;
        flex-direction: column;
    }

    #force-graph {
        width: 100vw;
        height: 100vh;
    }

    .hero-text-con {
        margin: 0 auto;
        width: 100vw;
        height: 100vh;
    }

    .hero-text-con p {
        padding: 15px;
    }

    .projects {
        display: flex;
        flex-direction: column;
    }

    .project-indv {
        width: 80vw;
        height: 80vw;
    }
    
}